<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.courses">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Courses">
        <activity
            android:name=".UI.Activities.ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.CreateTraineeAccountActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.EmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.TraineeActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.TrainerActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.CreateTrainingProviderAccountActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.StartActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.ContactsActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.AdminActivity"
            android:exported="true" />
    </application>

</manifest>